# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
