{# templates/partials/sidebar.html #}

<nav class="rw-sidebar-nav">
  <ul class="nav flex-column px-2 py-1 gap-1">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:dashboard' %}">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>

  <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:chat_browse' %}">
        <i class="bi bi-chat-left-text me-2"></i>
        Chats
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:config_menu' %}">
        <i class="bi bi-sliders me-2"></i>
        Settings
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:project_config_list' %}">
        <i class="bi bi-folder me-2"></i>
        Projects
      </a>
    </li>

  </ul>
</nav>

